{% extends "base.html" %}
{% block title %}
    Главная
{% endblock %}

{% block container %}
<h1> {{ shop_name }}</h1>
<ul class="list-group">
    {% for item in object_list %}
        <li class="list-group-item">
            <img src="{{item.kind.image.url}}" width="100px" alt="">
            {% if item.image %}
                <img src="{{item.image.url}}" width="100px" alt="">
            {% endif %}
            {{ item.kind.name }}{{ item.kind.product.name }} <a href="/product/{{ item.pk }}/">{{ item.name }}</a>
        </li>
    {% endfor %}
</ul>

{#    <hr>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <button class="btn btn-primary" type="submit">Сохранить</button>#}
{#    </form>#}
</ul>
{% endblock %}
